<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>shop.servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>shop.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>shop.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddFoodServlet</servlet-name>
        <servlet-class>shop.servlet.CartAddFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveFoodServlet</servlet-name>
        <servlet-class>shop.servlet.CartRemoveFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>shop.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>shop.servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomOrderServlet</servlet-name>
        <servlet-class>shop.servlet.CustomOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>shop.servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartLowerServlet</servlet-name>
        <servlet-class>shop.servlet.CartLowerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutTestServlet</servlet-name>
        <servlet-class>shop.servlet.CheckOutTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>shop.servlet.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPriceServlet</servlet-name>
        <servlet-class>shop.servlet.SearchByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutCartServlet</servlet-name>
        <servlet-class>shop.servlet.CheckOutCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>shop.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddFoodServlet</servlet-name>
        <url-pattern>/CartAddFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveFoodServlet</servlet-name>
        <url-pattern>/CartRemoveFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomOrderServlet</servlet-name>
        <url-pattern>/CustomOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartLowerServlet</servlet-name>
        <url-pattern>/CartLower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutTestServlet</servlet-name>
        <url-pattern>/CheckOutTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPriceServlet</servlet-name>
        <url-pattern>/SearchByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutCartServlet</servlet-name>
        <url-pattern>/CheckOutCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
